@charset "UTF-8";

@use 'components/variables';
@use 'components/container';
@use 'components/header';

* {
    font-family: variables.$Epilogue;
}

body {
    margin-bottom: 3rem;
    display: grid;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: initial;
        min-height: 100vh;
        // grid-template-rows: 0 1fr;
    }
}